/* TODO save colors, buttons, etc as variables */

body {
    font-family: "Code Source Pro", "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  header img{
    float: left;
    width: 100px;
    height: 100px;
    background: #555; 
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #9fc131;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #4f89df;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #9fc131;
    color: #fff;
  }

  li:hover {
    background-color:#4f89df;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }

  button {
    background-color: #4f89df;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    width: 160px;
    padding: 10px;
  }
  
  button:hover {
    background-color: #9fc131;
    color: #fff;
  }

  .featured-jobs {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    width: 50%;
    padding: 10px 14px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
  }
  
  input[type="submit"] {
    background-color: #4f89df;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    width: 200px;
  }

  input[type="submit"]:hover {
    background-color: #9fc131;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  